{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <!-- La tarjeta card-->
        <div class="card"> <!--tajeta-->
            <div class="card-body">
                <form action="/editarventas/" method="POST"> {% csrf_token %} <!--formulario-->
                    <div class="form-group">
                        <input type="text" id="numid_venta" name="numid_venta" class="form-control"
                        value="{{misventas.id_venta}}" min="1" max="9"  reqired>
                    </div>
    
                    <div class="form-group py-3">
                        <input type="text" id="txtid_empleado" name="txtid_empleado" class="form-control"
                        value="{{misventas.id_empleado}}" maxLenght="100" reqired>
                    </div>
                    
                    <div class="form-group py-3">
                        <input type="text" id="numid_cliente" name="numid_cliente" class="form-control"
                        value="{{misventas.id_cliente}}" min="1" max="9"  reqired>
                    </div>
    
                    <div class="form-group py-3">
                        <input type="text" id="numid_producto" name="numid_producto" class="form-control"
                        value="{{misventas.id_producto}}"min="1" max="9"  reqired>
    
                    <div class="form-group py-2">
                        <input type="date" id="txtfecha_venta" name="txtfecha_venta" class="form-control"
                        value="{{misventas.fecha_venta}}" maxLenght="100" reqired>
                        </div>

                    <div class="form-group py-2">
                        <input type="text" id="numcantidad" name="numcantidad" class="form-control"
                        value="{{misventas.cantidad}}"min="1" max="9"  reqired>
                    </div>
    
                    <div class="form-group py-2">
                        <input type="text" id="numtotal" name="numtotal" class="form-control"
                        value="{{misventas.total}}"min="1" max="9"  reqired>
                    </div>
        
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form><!--formulario-->
            </div>
        </div>
    
        <!-- fin de la tarjeta card-->
    </div><!--Columna-->

</div><!--La fila-->

{% endblock %}