{% extends "base.html" %}

{% block cuerpo %}
{% load static %}
<div class="row"> <!-- la fila -->
<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"> <!-- columna izquierda -->
    <div class="card"> <!--tajeta-->
        <div class="card-body">
            <form action="/registrarVenta/" method="POST"> {% csrf_token %} <!--formulario-->
                <div class="form-group">
                    <input type="text" id="numid_venta" name="numid_venta" class="form-control"
                    placeholder="id_venta" minLenght="6" maxLenght="6" reqired>
                </div>

                <div class="form-group py-3">
                    <input type="text" id="txtid_empleado" name="txtid_empleado" class="form-control"
                    placeholder="id_empleado" maxLenght="100" reqired>
                </div>
                
                <div class="form-group py-3">
                    <input type="text" id="numid_cliente" name="numid_cliente" class="form-control"
                    placeholder="id_cliente" maxLenght="100" reqired>
                </div>

                <div class="form-group py-3">
                    <input type="text" id="numid_producto" name="numid_producto" class="form-control"
                    placeholder="id_producto" maxLenght="100" reqired>

                    <div class="form-group py-2">
                        <input type="date" id="txtfecha_venta" name="txtfecha_venta" class="form-control"
                        placeholder="fecha_venta" maxLenght="100" reqired>
                    </div>
                <div class="form-group py-2">
                    <input type="text" id="numcantidad" name="numcantidad" class="form-control"
                    placeholder="cantidad" maxLenght="100" reqired>
                </div>

                <div class="form-group py-2">
                    <input type="text" id="numtotal" name="numtotal" class="form-control"
                    placeholder="total" maxLenght="100" reqired>
                </div>

                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!--formulario-->
        </div>
    </div> <!--tajeta-->
</div> <!-- columna izquierda-->

<h1> Listado de ventas<h1>
<div class="col-sm-12 col-md-8 col-lg-8 col-xl-4"> <!-- columna derecha -->
    <img class="w-50" src="{% static "img/venta.jpg" %}" alt="Trulli" width="400" height="400"/>
    <div class="table-responsive"> <!--tabla responsiva-->
        <table class="table table-striped">
            <thead>
                <tr>  
                <th scope="col">#</th>
                <th scope="col">Id_venta</th>
                <th scope="col">Id_empleado</th>
                <th scope="col">Id_cliente</th>
                <th scope="col">Id_producto</th>
                <th scope="col">Fecha_venta</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for m in misventas %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{m.id_venta}}</td>
                    <td>{{m.id_empleado}}</td>
                    <td>{{m.id_cliente}}</td>
                    <td>{{m.id_producto}}</td>
                    <td>{{m.fecha_venta}}</td>
                    <td>{{m.cantidad}}</td>
                    <td>{{m.total}}</td>
                    <td> <a href="seleccionarVenta/{{m.id_venta}}" class="btn btn-info">Editar</a> </td> 
                    <td> <a href="borrarVenta/{{m.id_venta}}" class="btn btn-danger">Borrar</a> </td> 
                </tr>
                {% endfor %}
            </tbody>
            </table>
    </div><!--tabla responsiva-->
</div> <!-- columna derecha -->

</div> <!-- la fila -->

{% endblock %}